@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* thanks, https://stackoverflow.com/questions/12813573/position-icons-into-circle */
.circle-flow {
    --tan: 0.5;
    --d: 6.5em; /* element size */
    --rel: 1; /* how much extra space we want between elements, 1 = one element size */
    --r: calc(.5 * (1 + var(--rel)) * var(--d) / var(--tan)); /* circle radius */
    --s: calc(2 * var(--r) + var(--d)); /* container size */
    position: relative;
    width: var(--s);
    height: var(--s);
}

.circle-flow > * {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: calc(-.5 * var(--d));
    width: var(--d);
    height: var(--d);
    --az: calc((var(--i) - 1.5) * 1turn / var(--m));
    transform:
        rotate(var(--az))
        translate(var(--r))
        rotate(calc(-1 * var(--az)));
}

.pod-element {
    @apply border-2 border-black rounded-full flex flex-col justify-center pointer-events-auto;
}

.pod-input {
    @apply text-center mx-1 outline-none text-2xl bg-transparent;
}
.pod-input:focus {
    @apply bg-gray-100 border-b-2 border-purple-500;
}

.pod-container {
    @apply mx-auto -mt-6 w-288 h-screen absolute pointer-events-none flex flex-col justify-center;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
